<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}last.fm to spotify!{% endblock %}</title>
        {% stylesheets '@AppBundle/Resources/public/assets/css/style.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Montserrat'>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        {% endstylesheets %}

    </head>
    <body ng-app="lastApp">

    {% for flashes in app.session.flashBag.all %}
        {% for flash in flashes %}
            <div class="alert alert-success" role="alert">
                <strong>{{ flash }}</strong>
            </div>

        {% endfor %}
    {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        {% endblock %}
    </body>
</html>
