{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Last2Spotify</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>


    <div class="panel panel-primary" style="width: 300px; margin: auto; margin-top: 100px; margin-bottom: 100px;">
        <div class="panel-heading">
            <h3 class="panel-title">Generate</h3>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <input type="submit" class="btn btn-cta-primary" value="Submit" />
            {{ form_end(form) }}
        </div>
    </div>


    <div class="well">
        <p>Last.fm to spotify converter.</p>
    </div>


{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js"></script>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>

        $(document).ready(function() {

            var url = window.location.href;

            if(url.indexOf("#access_token=") !== -1) {
                url = url.replace(/#/gi, "?");

                window.open(url, '_self');
            }

        });

    </script>
{% endblock %}